body{
    padding: 0;
    margin: 0;
    user-select: none;
}
.header{
    background-color: #4CB9E7;
    width: 100%;
    height: 66px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.container{
    background-color: lightgray;
    height: 100vh;
    width: 100% ;
    display: flex;
}
.box1{
    background-color: white;
    width: 25%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    color: #7BD3EA;
}
.box2{
    background-color: white;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.box3{
    background-color: white;
    width: 25%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* box 1 */
.profile{
    height: 40px;
    width: 80%;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.profile:hover{
    box-shadow: 3px 3px 3px skyblue;
}
.profile:active{
    color: red;
}
.box1 .fa-solid{
    margin: 5px;
}
.leftM{
    box-sizing: border-box;
    height: 450px;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.box1 a{
    color: #4CB9E7;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub-menu{
    margin-bottom: 30px;
}
.sub-menu:hover{
    background-color: #7BD3EA;
    color: white;
    border-radius: 5px;
}
.sub-menu:active{
    background-color: aqua;
    color: whitesmoke;
    border-radius: 5px;
}
/* box 2 */
textarea{
    margin-top: -80px;
    outline: none;
    height: 40px;
    width: 60%;
    border-radius: 10px;
    box-shadow: -2px 2px 5px black;
    resize: none;
    overflow: hidden;
    padding: 5px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
textarea:focus{
    box-shadow: -2px 2px 5px #4CB9E7;
}
.btn{
    margin-top: -80px;
    background-color: #7BD3EA;
    width: 40px;
    height: 30px;
    display: flex;
    box-shadow: -2px 2px 3px black;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    top: 5px;
    left: 4px;
    box-sizing: border-box;
}
.btn:active{
    background-color: lightblue;
    box-shadow: -2px 2px 3px blue;
    color: whitesmoke;
}
.pst{
    width: 66%;
    height: 400px;
    box-shadow: -2px 2px 5px black;
    border-radius: 5px;
    padding: 10px; 
    box-sizing: border-box;
}
.isi{
    border: 1px solid #352F44;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
}
.post{
    width: 100%;
    box-sizing: border-box;
}

/* box 3 */

.rightM{
    height: 150px;
    width: 80%;
    box-shadow: -2px 2px 5px black;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
}
.rightM2{
    height: 350px;
    width: 80%;
    box-shadow: -2px 2px 5px black;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-radius: 10px;
}


/* responsive */

@media screen and (max-width : 768px) {
    .profile{
        font-size: 15px;
        padding: 5px;
    }
    .leftM{
        font-size: 15px;
    }
}

@media screen and (max-width : 768px) {
    .pst{
        width: 80%;
        height: 300px;
    }
    textarea{
        margin-top: -130px;
    }
    .btn{
        margin-top: -130px;
    }
}
@media screen and (max-width : 768px) {
    .rightM{
        width: 90%;
        height: 100px;
    }
    .rightM2{
        width: 90%;
        height: 200px;
    }
}